.rightNav {

    position: sticky;
    top: 120px;

}

.list-group li:hover {

    background-color: lightgrey;

}

@media screen and (max-width:576px) {

    .rightNav {

        position: static;
        width: 100%;
    }
}

@media screen and (min-width:577px) and (max-width:991px) {

    .rightNav {

        position: static;
        width: 100%;
    }
}